main {
	margin: 20px;
	padding: 20px;
	height: 600px;
	width: 1000px;
	background-color: #d6d6b1;
}

ol li {
	display: inline;
	padding: 20px;
}

.question-prompt, .time-display, .submit-btn, .answer-list {
	display: inline-block;
	box-sizing: border-box;
	outline: 1px dashed black;
}
.question-box {
	margin: 20px 0;
	padding: 20px;
	height: 100px;
	width: 800px;
	outline: 1px solid rgb(0,0,0);
}
.question-prompt {
	height: 40px;
	width: 500px;
}
.time-display {
	float: right;
	height: 40px;
}
.btn {
	height: 40px;
	width: 40px;
	padding: 0 10px;
	background-color: rgb(0,0,0);
	color: rgb(255,255,255);
	border-radius: 	5px;
	box-shadow: 2px 2px #888888;
	outline: none;
}
.btn-submit {
	float: right;
}
.btn-answer {
		width: auto	;
}
.btn-answer:active {
	box-shadow: 0 0;
	position: relative;
	left: 2px;
	top: 2px;
}
.btn-answer:focus {
	background-color: 	red;
	box-shadow: 0 0;
	position: relative;
	left: 2px;
	top: 2px;
}
.answer-list {
	height: 40px;
	width: 500px;
}