header {
	padding: 30px;
	background-color: chocolate;
	color: yellow;
	font-family: "papyrus";
	font-size: 3em;
}
main {
	box-sizing: border-box;
	margin: 0px;
	padding: 40px;
	height: 100%;
	width: 100%;
	background-color: #d6d6b1;
}

ol li {
	display: inline;
	padding: 20px;
}

.question-prompt, .time-display, .answer-list {
	display: inline-block;
	box-sizing: border-box;
	outline: 1px dashed black;
}
.question-box, .summary-box {
	margin: 20px 0;
	padding: 20px;
	width: 650px;
}
.question-box {
	height: 310px;
	outline: 1px solid rgb(0,0,0);
}
.question-prompt {
	height: 60px;
	width: 500px;
}
.time-display {
	float: right;
	height: 40px;
	width: 115px;
	padding-top: 3px;
	text-align: center;
}
.answer-list {
	height: 250px;
	width: 500px;
}
.btn {
	height: 40px;
	width: 40px;
	padding: 0 10px;
	background-color: rgb(0,0,0);
	color: rgb(255,255,255);
	border-radius: 	5px;
	box-shadow: 2px 2px #888888;
	outline: none;
}
.btn-answer {
		width: auto	;
		display: block;
		margin-left: 20px;
}
.btn:active {
	background-color: 	red;
	box-shadow: 0 0;
	position: relative;
	left: 2px;
	top: 2px;
}
.btn:focus {
	background-color: 	red;
	color: rgb(0,0,0);
	box-shadow: 0 0;
	position: relative;
	left: 2px;
	top: 2px;
}
.btn-correct {
	background-color: green;
}
.btn-incorrect {
	background-color: red;
}
.btn-not-selected {
	background-color: grey;
}
.btn-restart {
	float: right;
	height: 50px;
	margin: 0 30px 0 0;
}
.summary-box {
	background-color: purple;
}
.summary-correct, .summary-incorrect, .summary-timeout, .summary-score {
	display: inline-block;
	height: 50px;
	text-align: center;
	line-height: 22px;
	}
.summary-correct, .summary-incorrect, .summary-timeout {
	width: 90px;
}
.summary-correct {
	background-color: green;
	color: white;
}
.summary-incorrect {
	background-color: red;
}
.summary-timeout {
	background-color: yellow;
}
.summary-score {
	width: 110px;
	margin: 0 0 0 20px;
	background-color: magenta;
}